html {
    background-color: lightgrey;
    margin-left: 80px;
    margin-right: 80px;
  }
body {
    margin: 0;
  }
header {
    padding-top: 30px;
    margin-bottom: 100px;
  }
header ul {
    float: right;
    color: white;
  }
header li {
    display: inline-block;
    padding: 0px 5px;
  }
.inline-block {
    color: black;
}
.cardContent {
    padding: 100px 15px;
  }
.logo {
    height: 25px;
}
.cards {
  display: flex;
  flex-direction: column;
  position: relative;
  perspective: 1000px;
  justify-content: left;
  align-content: left;
  align-items: left;
  margin-bottom: 80px;
  padding: 20px;
}
.cards__single {
  background: royalblue;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width:100%;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  text-align: left;
  padding: 20px;
  -webkit-transition: transform 0.6s;
  transform-style: preserve-3d;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  position: relative;
  transition: transform 0.6s;
  -webkit-transition: transform 0.6s;
}
.cards__image {
  text-align: left;
  width: 100%;
  border-radius: 16px;
  padding: 20px;
  width: 50%;
  height: 0 auto;
}
.cards__single.flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
.cards__front, .cards__back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
}
.cards__front {
  height: 100%;
  transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
}
.cards__back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
  top: 10px;
  color: #20263f;
}
 .mySkills {
   display: flex;
 } 
.flexContainer {
  display: flex;
  padding: 60px 30px;
}
.flexContainer div {
  width: 33%;
  padding: 25px;
}
.myWork {
  padding: 60px 30px;
  padding-top: 0;
  background-color: lightgray;
}
.workGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 300px 300px 300px;
  grid-template-areas:
  "mockup1 content1"
  "mockup2 content2"
  "mockup3 content3"
  ;
}
.workGrid img {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  display: block;
}
.mockup1 {
  grid-area: mockup1;
  overflow: auto;
}
.mockup2 {
  grid-area: mockup2;
  overflow: auto;
}
.mockup3 {
  grid-area: mockup3;
  overflow: auto;
}
.mockup1, .mockup2, .mockup3, .content1, .content2, .content3 {
  padding: 50px;
  background-color: royalblue;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: auto;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
}
.content1 {
  grid-area: content1;
  overflow: auto;
}
.content2 {
  grid-area: content2;
  overflow: auto;
}
.content3 {
  grid-area: content3;
  overflow: auto;
}
.image1, .image2, .image3 {
  height: 50%;
  width: auto;
}
footer {
    padding: 5px;
    color: white;
  }
footer h2 {
    color: royalblue;
  }

h1, h2, h3, li {
    font-family: cooper-black-std, serif;
    font-style: normal;
    font-weight: 400;
  }
p {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: black;
}

@media only screen and (max-width: 600){
  .workGrid {
      flex-direction: column;
      width: 100%;
      display: grid;
      grid-template-columns: 300px 300px 300px;
      grid-template-rows: 0 auto;
      grid-template-areas: 
      "mockup1"
      "content1"
      "mockup2"
      "content2"
      "mockup3"
      "content3"
      ;
  }
}

@media (min-width: 1000px) {
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    position: relative;
    perspective: 1000px;
    align-items: stretch;
  }
  .cards__single {
    width: 100%;
  }
}

